@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GoodTimes";
  src: url("../assets/fonts/good-times-rg.ttf") format("truetype");
}

@font-face {
  font-family: "Pixel7";
  src: url("../assets/fonts/pixel-7.ttf") format("truetype");
}

@font-face {
  font-family: "WhiteRabbit";
  src: url("../assets/fonts/whitrabt.woff") format("woff");
}

