$color-darker-grey: #333;
$color-dark-grey: #444;
$color-dark-green: #013220;
$color-grey-darker:#252525;
$color-text: white;
$color-green: #4a7023;
$color-green-lighter: #8db465;

$color-background: $color-darker-grey;
$color-primary: white;
$color-secondary: $color-green;
