@import "../../style/variables.scss";
@import "../../style/devices.scss";

.container-typewriter {
  display: inline-block;
  h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .typewriter {
    @include tablet-up {
      display: inline-block;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid $color-text; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 1.5s steps(15, end), blink-caret 0.75s step-end infinite;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $color-text;
  }
}
