@import "../../../style/main.scss";

.button-main {
  padding: 1rem;
  background: $color-secondary;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: "WhiteRabbit";
  &:hover {
    background: $color-green-lighter;
  }
}
