@import "../../style/main.scss";

.page-contact {
  .container-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    @include mobile {
      width: 100%;
    }
    label {
      font-size: 16px;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      font-family: "WhiteRabbit";
    }
    textarea,
    input {
      flex: 1;
      border: unset;
      border-bottom: solid 2px $color-primary;
      font-size: 16px;
      padding: 0.5rem;
      min-height: 30px;
      background-color: unset;
      color: $color-primary;
    }
    textarea {
      min-height: 100px;
      margin-bottom: 1rem;
    }
  }
  .message-sent {
    opacity: 0;
    animation: fade-in 0.5s forwards;
  }
}
